---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.tsx'
import "../styles/global.css";
---

<Layout>
  <div class="wrapper">
    <Home client:visible />
  </div>
</Layout>